<header [style.background]="system ? 'var(--' + system + ')' : 'var(--home)'">
    <div class="container">
        <div>
        <a routerLink='/' class=logo>panelRPG</a>
        <span *ngIf="system !== ''">-{{system}}</span>
        </div>
        <nav> 
            <div *ngFor="let button of buttons; let i = index"><a [routerLink]="button.link" (mouseover)="changeBackground(true, i)" (mouseout)="changeBackground(false, i)" [style.background]="button.bg">{{button.text}}</a></div>  
        </nav>
    </div>   
</header>
